<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<header class="sticky-header container-fluid">
  <div class="container"id="mainheader">
    
    <div class="topnav">
      <a class="navbar-brand" href="#">{{title}}</a>
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addEmployeeModel">
        Add employee
      </button>
      
      <div class="topnav-right">
        <form class="d-flex" role="search">
          <input type="search"(ngModelChange)="searchEmployees(key.value)"
          ngModel 
           name="key"id="searchName"class="form-control mr-sm-2"placeholder="search employee..."#key required>
          </form>
      </div>
    </div>
  </div>
</header>
 

<div class="container"id="main-container">
    <div class="row">
     
        <div *ngFor="let employee of employees"class=" myemployees col-md-6 col-xl-4">
            <div class="card m-b-30 ">
              <div class="employee">
                <div class="card-body row">
                    <div class="col-6">
                        <a href=""><img src="{{employee?.imageUrl}}" alt="" class="img-fluid rounded-circle w-60"></a>
                    </div>
                    <div class="col-6 card-title align-self-center mb-0">
                        <h6 class="employeeName">{{employee?.name}}</h6>
                        <p class="m-0 jobTitle">{{employee?.jobTitle}}</p>
                    </div>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><i class="fa fa-envelope float-right"></i>{{employee?.email}}<a href="#"></a></li>
                    <li class="list-group-item"><i class="fa fa-phone float-right"></i>{{employee?.phone}}</li>
                </ul>
                <div class="card-body">
                    <div class="float-right btn-group btn-group-sm">
                        <a (click)="onOpenModel(employee,'edit')"class="btn btn-primary tooltips" data-placement="top" data-toggle="tooltip"  data-original-title="Edit"><i class="fa fa-pencil"></i> </a>
                        <a (click)="onOpenModel(employee,'delete')" class="btn btn-secondary tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Delete"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                </div>
            </div>
        </div>
      
       
    </div>
</div>
<!-- add employee modal -->
<div class="modal fade" id="addEmployeeModel" tabindex="-1" aria-labelledby="addEmployeeModelLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" >Add employee</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #addForm="ngForm"(ngSubmit)="onAddEmployee(addForm)">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" ngModel name="name"class="form-control" id="name" placeholder="Name"required>
          </div>

          <div class="form-group">
            <label for="email" >Email Adress</label>
            <input type="email"ngModel name="email"class="form-control" id="email"placeholder="Name"required>
          </div>
          <div class="form-group">
            <label for="email" >Job Title</label>
            <input type="text"name="job title"class="form-control" id="jobtitle"placeholder="job title"required>
          </div>
          <div class="form-group">
            <label for="phone" >Phone</label>
            <input type="text"ngModel name="phone"class="form-control" id="phone"placeholder="phone"required>
          </div>
          <div class="form-group">
            <label for="phone" >Image url</label>
            <input type="text"ngModel name="imageUrl"class="form-control" id="imageurl"placeholder="imageUrl"required>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button [disabled]="addForm.invalid" type="submit"id="add-employee-form" class="btn btn-primary">Save changes</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- editform modal -->
<div class="modal fade"id="updateEmployeeModel" tabindex="-1" aria-labelledby="updateEmployeeModel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit employee</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        </div>
      <div class="modal-body">
        <form #editForm="ngForm">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text"ngModel="{{editEmployee.name}}" name="name"class="form-control"placeholder="Name"required>
          </div>
         
            <input type="hidden"ngModel="{{editEmployee.id}}"id="id" name="email"class="form-control" placeholder="Name"required>
            <input type="hidden"ngModel="{{editEmployee.employeeCode}}"id="employeeCode" name="usercode"class="form-control" placeholder="Name"required>

          <div class="form-group">
            <label for="email">Email Adress</label>
            <input type="email"ngModel="{{editEmployee.email}}" name="email"class="form-control" id="email"placeholder="Name"required>
          </div>
          <div class="form-group">
            <label for="email" >job Title</label>
            <input type="text"ngModel="{{editEmployee.jobTitle}}"name="job title"class="form-control" id="jobTitle"placeholder="job title"required>
          </div>
          <div class="form-group">
            <label for="phone" >phone</label>
            <input type="text"ngModel="{{editEmployee.phone}}" name="phone"class="form-control" id="phone"placeholder="phone"required>
          </div>
          <div class="form-group">
            <label for="imageUrl">Image url</label>
            <input type="text"ngModel="{{editEmployee.imageUrl}}" name="imageUrl"class="form-control" id="imageUrl"placeholder="img"required>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button (click)="onUpdateEmployee(editForm.value)"type="ngSubmit" id="add-employee-form" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<!-- delete modal -->
<div class="modal fade" id="deleteEmployeeModel" tabindex="-1" aria-labelledby="deleteEmployeeModel" aria-hidden="true">
 
    <div class="modal-dialog modal-confirm">
      <div class="modal-content">
        <div class="modal-header">
          <div class="icon-box">
            <i class="material-icons">&#xE5CD;</i>
          </div>				
          <h4 class="modal-title">Are you sure?</h4>	
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body">
          <p>Do you really want to delete {{deleteEmployee.name}}? This process cannot be undone.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-info" data-dismiss="modal">Cancel</button>
          <button (click)="onDeleteEmployee(deleteEmployee.id)" class="btn btn-danger">Delete</button>
        </div>
      </div>
    </div>
    
</div>

<!-- notfication -->
<div *ngIf="employees?.length==0" class="col-lg-12 col-md-12 col-xl-12">
  <div class="alert alert info"role="alert">
    <h4 class="alert-heading">NO EMPLOYEES!</h4>
    <p>no employee found</p>
  </div>
</div>