<header class="sticky-header container-fluid">
  <div class="container"id="mainheader">
      <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" style="color:rgb(255, 255, 255);">Medewerkersbeheer</a>
        
        <ul class="navbar-nav d-flex align-items-start">
          <li class="nav-item">
            <a class="nav-link" (click)="onOpenModal(null!,'add')">Medewerker toevoegen <span class="sr-only"></span></a>
          </li>
        </ul>
        <div class="" id="navbarColor02">
          <form class="topnav-right ">
              <input type="search" (ngModelChange)="searchEmployees(key.value)" #key="ngModel" ngModel
              name="key" id="searchName" class="form-control mr-sm-2" placeholder="Zoek medewerkers..." required>
          </form>
        </div>
      </nav>
  </div>
</header>
<div class="container-fluid">
   <div class="container"id="main-container">
      <div class="row align-items-center tablenav" >
         <div class="col-md-6">
            <div class="mb-3">
                 <h5 class="card-title">Totaal medewerkers:<span class="text-muted fw-normal ms-2">{{totalEmployees}}</span></h5>
            </div>
         </div>
         <div class="col-md-6">
            <div class="d-flex flex-wrap align-items-center justify-content-end gap-2 mb-3 ">
               <div>
                   <ul class="nav nav-pills">
                        
                           <li class="nav-item">
                              <a href="#" class="nav-link" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Grid" aria-label="Grid"><i class="bx bx-grid-alt"></i></a>
                           </li>
                        </ul>
                  </div>
                  <div>
                     <a class="btn btn-primary"(click)="onOpenModal(null!,'add')">Medewerker toevoegen <i class="bx bx-plus me-1"></i></a>
                  </div>
               </div>
            </div>
      </div>
      <div class="row">
         <div class="col-lg-12">
            <div class="">
               <div class="table-responsive">
                     <table class="table project-list-table table-nowrap align-middle table-borderless">
                        <thead>
                           <tr>
                                
                                 <th scope="col">Naam</th>
                                 <th scope="col">Functietitel</th>
                                 <th scope="col">E-mail</th>
                                 <th scope="col">Telefoon</th>
                                 <th scope="col" style="width: 200px;">Actie</th>
                           </tr>
                        </thead>
                        <tbody *ngFor="let employee of employees | slice:(currentPage - 1) * pageSize:currentPage * pageSize">
                           <tr>
                                
                                 <td><img src="{{employee.imageUrl}}" alt="" class="avatar-sm rounded-circle me-2" /><a href="#" class="text-body">{{employee.name}}</a></td>
                                 <td><span class="badge badge-soft-success mb-0">{{employee.jobTitle}}</span></td>
                                 <td>{{employee.email}}</td>
                                 <td>{{employee.phone}}</td>
                                 
                                 <td>
                                    <ul class="list-inline mb-0">
                                       
                                       <div class="float-right btn-group btn-group-sm">
                                          <a (click)="onOpenModal(employee, 'edit')" class="btn btn-primary tooltips" data-placement="top" data-original-title="Edit"><i title="Bewerking"class="fa fa-pencil"></i> </a>
                                          <a (click)="onOpenModal(employee, 'delete')" class="btn btn-secondary tooltips" data-placement="top" data-original-title="Delete"><i title="Verwijderen"class="fa fa-times"></i></a>
                                          <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                                             Button with data-bs-target
                                           </button>

                                       </div>
                                       
                                    </ul>
                                 </td>
                           </tr>
                        </tbody>
                     </table>
                     
                     <div class="container">
                        <div class="row">
                           <ul class="pagination d-flex justify-content-end">
                              
                                 <li [class.disabled]="currentPage === 1" class="page-item">
                                    <a (click)="currentPage = currentPage =1" class="page-link">&laquo; Volg</a>
                                 </li>
                           
                              <li class="page-item">
                                 <a class="page-link">{{ currentPage }}</a>
                              </li>

                              <li [class.disabled]="currentPage === employees.length / pageSize" class="page-item">
                                 <a (click)="currentPage = currentPage + 1 " class="page-link">Volgende &raquo;</a>
                              </li>
                           </ul>
                        </div>
                     </div>
                    
               </div>
          
            </div>
         </div>
</div>

</div>

<!-- Add Employee Modal -->
<div class="modal fade" id="addEmployeeModal" tabindex="-1" role="dialog" aria-labelledby="addEmployeeModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
       <div class="modal-header">
          <h5 class="modal-title" id="addEmployeeModalLabel">Werknemer toevoegen</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          </button>
       </div>
       <div class="modal-body">
          <form #addForm="ngForm" (ngSubmit)="onAddEmloyee(addForm)">
          <div class="form-group">
             <label for="name">Naam</label>
             <input type="text" ngModel name="name" class="form-control" id="name" placeholder="Naam" required>
          </div>
          <div class="form-group">
             <label for="email">E-mailadres</label>
             <input type="email" ngModel name="email" class="form-control" id="email" placeholder="E-mailadres" required>
          </div>
          <div class="form-group">
             <label for="phone">Functietitel</label>
             <input type="text" ngModel name="jobTitle" class="form-control" id="jobTile" placeholder="Functietitel" required>
          </div>
          <div class="form-group">
             <label for="phone">Telefoon</label>
             <input type="text" ngModel name="phone" class="form-control" id="phone" placeholder="Telefoon" required>
          </div>
          <div class="form-group">
             <label for="phone">afbeelding URL</label>
             <input type="text" ngModel name="imageUrl" class="form-control" id="imageUrl" placeholder="afbeelding URL" required>
          </div>
          <div class="modal-footer">
             <button type="button" id="add-employee-form" class="btn btn-secondary" data-dismiss="modal">Annuleren</button>
             <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary" >Wijzigingen opslaan
            </button>
          </div>
          </form>
       </div>
    </div>
  </div>
  </div>

<!-- Edit Modal -->
<div class="modal fade" id="updateEmployeeModal" tabindex="-1" role="dialog" aria-labelledby="employeeEditModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
     <div class="modal-content">
        <div class="modal-header">
           <h5 class="modal-title" id="updateEmployeeModalLabel">Werknemer bewerken {{editEmployee?.name}}</h5>
           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
           </button>
        </div>
        <div class="modal-body">
           <form #editForm="ngForm">
              <div class="form-group">
                 <label for="name">Naam</label>
                 <input type="text" ngModel="{{editEmployee?.name}}" name="name" class="form-control" id="name" aria-describedby="emailHelp" placeholder="Naam">
              </div>
              <input type="hidden" ngModel="{{editEmployee?.id}}" name="id" class="form-control" id="id" placeholder="Email">
              <input type="hidden" ngModel="{{editEmployee?.employeeCode}}" name="userCode" class="form-control" id="userCode" placeholder="Email">
              <div class="form-group">
                 <label for="email">E-mailadres</label>
                 <input type="email" ngModel="{{editEmployee?.email}}" name="email" class="form-control" id="email" placeholder="E-mailadres">
              </div>
              <div class="form-group">
                 <label for="phone">Functietitel</label>
                 <input type="text" ngModel="{{editEmployee?.jobTitle}}" name="jobTitle" class="form-control" id="jobTitle" placeholder="Functietitel">
              </div>
              <div class="form-group">
                 <label for="phone">Telefoon</label>
                 <input type="text" ngModel="{{editEmployee?.phone}}" name="phone" class="form-control" id="phone" name="phone" placeholder="Phone">
              </div>
              <div class="form-group">
                 <label for="phone">Afbeelding URL</label>
                 <input type="text" ngModel="{{editEmployee?.imageUrl}}" name="imageUrl" class="form-control" id="Afbeelding URL" placeholder="Image URL">
              </div>
              <div class="modal-footer">
                 <button type="button" id="" data-dismiss="modal" class="btn btn-secondary">Annuleren</button>
                 <button (click)="onUpdateEmloyee(editForm.value)" data-dismiss="modal" class="btn btn-primary" >Wijzigingen opslaan
               </button>
              </div>
           </form>
        </div>
     </div>
  </div>
</div>

<!-- Delete Modal -->
<div class="modal fade" id="deleteEmployeeModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
     <div class="modal-content">
        <div class="modal-header">
           <h5 class="modal-title" id="deleteModelLabel">Werknemer verwijderen</h5>
           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
           </button>
        </div>
        <div class="modal-body">
           <p>Weet u zeker dat u<span class="deleteEmployee">{{deleteEmployee?.name}}</span> wilt verwijderen?
           </p>
           <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Nee</button>
              <button (click)="onDeleteEmloyee(deleteEmployee.id)" class="btn btn-danger" data-dismiss="modal">Ja</button>
           </div>
        </div>
     </div>
  </div>
</div>
</div>
 <!-- Notification for no employees -->
 <div *ngIf="employees?.length == 0" class="col-lg-12 col-md-12 col-xl-12">
   <div class="alert alert-info" role="alert">
   <h4 class="alert-heading">GEEN WERKNEMERS!</h4>
   <p>Er zijn geen medewerkers gevonden.</p>
   </div>
</div>
<router-outlet></router-outlet>
