.sticky-header {
  background-color:#023047 ;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  padding: 5px;
  transition: background-color 0.3s ease-in-out;
}

.sticky-header {
  background-color:#023047 ;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  padding: 5px;
  transition: background-color 0.3s ease-in-out;
}

.navbar-brand {
  float:none !important;
}

#main-container {
  background:#fbfbfbde;
}
.tablenav {
  margin-top: 10rem;
  margin-left: 2rem;
  margin-right:2rem;

}
.list-group-flush {
  font-size: 12px;
}

.myemployees {
  margin-top: 20px;

}

.sticky-header nav  {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  text-decoration: none;
  color: #fff;
  padding: 15px;
  justify-content: space-around;
}

.sticky-header nav  {
  margin: 0;
  padding: 0;
}

.navbar-brand {
  float:none !important;
}
a,i {
  cursor: pointer;
  color: #fff;
  text-decoration: none;

}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
  
.pagination li a {
  color:black;
  background:#edf6f9 !important;

}
.pagination li a:hover{
  color:rgb(255, 255, 255);
  background:#0d6efd !important;

}

  
  .topnav-right {
    float: right;
  }

.card {
  min-height:170px;
  margin: 0;
  padding: 1.7rem 1.2rem;
  border: none;
  border-radius: 4px;
  border-radius: 0;
  color:rgba(0,0,0,1);
  letter-spacing: .05rem;
  font-family: 'Oswald', sans-serif;
  box-shadow: 0 0 10px rgba(216, 215, 215, 0.27);
 }
 .jobTitle {
  font-size: 8px;
  border-bottom:1px solid rgb(202, 4, 113);

 }
 .employeeName {
  font-size: 10px;

 }
 .btn .btn-primary{
  margin-top: 10px;

 }
  .w-60 {
    width: 60px;
  }
  h1, h2, h3, h4, h5, h6 {
      margin: 0 0 10px;
      font-weight: 600;
  }

  h5{
    font-size: 16px;
  }

    .project-list-table {
        border-collapse: separate;
        border-spacing: 0 12px
    }
    
    .project-list-table tr {
        background-color: #fff
    }
    
    .table-nowrap td, .table-nowrap th {
        white-space: nowrap;
    }
    .table-borderless>:not(caption)>*>* {
        border-bottom-width: 0;
    }
    .table>:not(caption)>*>* {
        padding: 0.75rem 0.75rem;
        background-color: var(--bs-table-bg);
        border-bottom-width: 1px;
        box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
    }
    
    .avatar-sm {
        height: 2rem;
        width: 2rem;
    }
    .rounded-circle {
        border-radius: 50%!important;
    }
    .me-2 {
        margin-right: 0.5rem!important;
    }
    img, svg {
        vertical-align: middle;
    }
   
    .badge-soft-danger {
        color: #f56e6e !important;
        background-color: rgba(245,110,110,.1);
    }
    .badge-soft-success {
        color: #63ad6f !important;
        background-color: rgba(99,173,111,.1);
    }
    
    .badge-soft-primary {
        color: #3b76e1 !important;
        background-color: rgba(59,118,225,.1);
    }
    
    .badge-soft-info {
        color: #57c9eb !important;
        background-color: rgba(87,201,235,.1);
    }
    
    .avatar-title {
        align-items: center;
        background-color: #3b76e1;
        color: #fff;
        display: flex;
        font-weight: 500;
        height: 100%;
        justify-content: center;
        width: 100%;
    }
    .bg-soft-primary {
        background-color: rgba(59,118,225,.25)!important;
    }

    .table-responsive {
      padding: 2rem;

    }